*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    max-width: 1200px;
    margin: auto;
}
.grupo{
    display: flex;
}
header{
    margin: 20px 0 0 0 ;
}
nav ul{
    display: flex;
    height: 80px;
    line-height: 40px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    padding: 10px 15px;
    text-decoration: none;
    color: #777;
    transition: all .4s;
}
.between{
    justify-content: space-between;
    align-items: center;
}
#logo{
    color: rgb(253, 104, 34);
    font-size: 1.4em;
    font-weight: bold;
}
.btnPrimario{
    color:#fff;
    background: rgb(56, 137, 243);
    padding: 10px 30px;
    border-radius:30px;
    text-decoration: none;
    margin: 0 20px 0 0;
    transition: all .4s;
    border: 2px solid rgb(56, 137, 243);
}
.btnPrimario:hover{
    color: rgb(8, 106, 235);
    background: transparent;
}
.btnSecundario{
    color:rgb(56, 137, 243);
    background: #fff ;
    padding: 10px 20px;
    border: 2px solid rgb(56, 137, 243);
    border-radius:30px;
    text-decoration: none;
    transition: all .4s;
}
.btnSecundario:hover{
    color:#fff;
    background:rgb(56, 137, 243);
}
.bold{
    color:#000;
}
.headerInfo{
    width: 30%;
}
h1{
    color:rgba(30, 32, 182, 0.5);
}
h2{
    color: rgb(253, 104, 34);
    text-align: center;
    margin: 20px 0 0 0 ;
}
h3{
    color:#777;
    text-align: center;
    margin: 10px;
    font-size: 0.8em;
}
p{
    margin: 20px 0 40px 0;
    color:#777;
}
.banner{
    padding: 0 50px;
}
main{
    max-width: 800px;
    margin: auto;
    margin-bottom: 100px;
}
section{
    display: flex;
}
article {
    box-shadow: 0px 4px 1px #ccc;
    margin: 0 10px;
    height: 200px;
    position:relative;
    transition: all .6s;
}
article img{
    width: 85%;
    height: 150px;
    margin: 5px 15px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
article p{
    position:absolute;
    top: 140px;
    left: 15px;
    text-align: right; 
}
article:nth-child(3) p{
    text-align: center;
}
nav ul li .item:hover{
    border-bottom: 2px solid rgb(56, 137, 243);
}
article:hover{
    box-shadow: 2px 8px 6px #ccc;
    transform: scale(1.1);
}